@import viewmodels.application.scheme.SchemePreferenceViewModel
@import views.html.widgets.yesNoQuestion
@import _root_.forms.SchemePreferenceForm

@import connectors.exchange.SchemeInfo
@(
        schemesForm: Form[_root_.forms.SchemePreferenceForm.Data],
        viewModel: SchemePreferenceViewModel
)(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String, messages: Messages)

@import helpers.CSRFieldConstructor._
@import views.html.widgets.{pageProgress, guard, guardWithLabel, inputCheckboxGroup, radioBox, select_guard}

@selectedSchemes = @{
    schemesForm.value match {
        case Some(schForm) => schForm.schemes.lift(_)
        case _ => SchemePreferenceForm.getSchemesByPriority("schemes", schemesForm.data).lift(_)
    }
}

@schemeRequirements(scheme: SchemeInfo) = {
    @if(scheme.requiresALevelInStem) {
        2 A levels, at grade C and above, and 5 GCSEs at grade C and above, or the new grade 4 and above, including English Language and Maths
    } else {
        @if(scheme.requiresALevel) {
            2 A levels, at grade D and above, and 5 GCSEs at grade C and above, or the new grade 4 and above, including English Language and Maths
        } else {
            5 GCSEs at grade C and above, or the new grade 4 and above, including English Language and Maths
        }
    }
}

@isSpecialScheme(scheme: SchemeInfo) = @{
    scheme.requiresALevelInStem || scheme.requiresALevel
}

@main_template(title = "Choose your preferred schemes", pageForms = Seq(schemesForm), None, List("scheme-preference-selector.js")) {

    @helper.form(action = routes.SchemeController.submitSchemes(), 'novalidate -> "novalidate") {
        @helper.CSRF.formField
        @pageProgress(2, 8)
        <div class="hgroup text">
            <h1 class="heading-xlarge">Choose your preferred schemes</h1>
        </div>
        <div class="panel-indent text">
            <p>Based on your education answers, these are the schemes you're eligible for.</p>
            <p>In preference order, select only the schemes you'd like to work in. You'll
                select your location preferences afterwards.</p>
        </div>
        @schemesForm("orderAgreed").value.map { _ =>
            <fieldset>
                <div class="panel-warning">
                    <p>If you change your scheme selections, you'll need to choose your locations again</p>
                </div>
            </fieldset>
        }
        <section class="grid-wrapper scheme-wrapper">
            <div class="scheme-input-container">
                @helper.input(schemesForm("schemes"), '_label -> "") { (id, name, value, _) =>
                    <div class="inner-block-padr" id="@id">
                        <ul class="schemes-list">
                            @for(scheme <- viewModel.schemeOptions) {
                                <li class="scheme-container">
                                    <span class="selected-preference invisible">N/A</span>
                                    <label for="scheme-@scheme.id" class="block-label block-label-slim">
                                        <input type="checkbox" id="scheme-@scheme.id" data-schemename value="@scheme.id">@scheme.name</input>
                                    </label>
                                    <span class="alwayshidden" @if(isSpecialScheme(scheme)){data-spec-scheme} else {data-scheme-req}>@schemeRequirements(scheme)</span>
                                </li>
                            }
                            @for(i <- 0 until viewModel.schemeOptions.size) {
                                <input type="hidden" id="schemes_@i" name="schemes_@i" value='@selectedSchemes(i).getOrElse("")' />
                            }
                        </ul>
                    </div>
                }
            </div>
        </section>
        <section id="selectedPreferences" class="hide-nojs">
            <h2 class="heading-large">Your chosen schemes</h2>
            <div data-scheme-placeholder>
                <div class="scheme-warning text">
                    <p>Your schemes will appear here as you select them from the list</p>
                </div>
            </div>
            <ol id="selectedPrefList" class="list-text">
                <li></li>
            </ol>
                &nbsp;
        </section>
        <section class="text panel-indent">
            <p>It's important to note that:</p>
            <ul>
                <li>your schemes will be offered to you in order of preference</li>
                <li>we'll try and place you in your preferred schemes in the locations
                    you select, in preference order</li>
                <li>you won't be able to reorder your preferences after submitting your
                    application</li>
            </ul>
        </section>
        <section class="text clearfix">
            @yesNoQuestion(schemesForm("orderAgreed"), question = "Are you happy with the order of your schemes?",
            noMessage = Some("Review your preferences and confirm you're happy with the order to continue"))
        </section>
        <section class="text clearfix">
            @yesNoQuestion(schemesForm("eligible"), question = "Are you eligible for your chosen schemes?",
            noMessage = Some("You can only select preferences you're eligible for"),
            description = Some("""Make sure you're <a href="https://www.gov.uk/guidance/civil-service-fast-track-apprenticeship-fast-track-schemes" target="_blank" rel="external">eligible</a> for your chosen schemes."""))
        </section>
        <button type="submit" id="schemeSaveBtn" class="button">Save and continue</button>
    }
}
