@import viewmodels.application.scheme.SchemeLocationsViewModel
@import connectors.exchange.GeoLocationSchemeResult
@import connectors.ExchangeObjects.GeneralDetailsExchange
@import _root_.forms.SchemeLocationPreferenceForm

@(
        locationForm: Form[_root_.forms.SchemeLocationPreferenceForm.Data],
        viewModel: SchemeLocationsViewModel,
        personalDetails: GeneralDetailsExchange,
        schemeLocations: List[GeoLocationSchemeResult]
)(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String)

@import helpers.CSRFieldConstructor._
@import views.html.widgets.{guard, guardWithLabel, inputCheckboxGroup, radioBox, select_guard}

@selectedLocations = @{
    locationForm.value match {
        case Some(locForm) => locForm.locationIds.lift(_)
        case _ => SchemeLocationPreferenceForm.getLocationSchemesByPriority("locationIds", locationForm.data).lift(_)
    }
}

@main_template(title = "Where could you work from?", pageForms = Seq(locationForm), None, List("location-finder.js")) {

    @helper.form(action = routes.SchemeController.submitLocations(), 'novalidate -> "novalidate") {
        @helper.CSRF.formField
        <h1 class="heading-xlarge">Where could you work from?</h1>

        <input type="text" id="hiddenInput" class="visuallyhidden">
        <div class="grid-wrapper">
            <section class="grid grid-1-2">
                <div class="inner-block-padr">
                    <h2 class="heading-medium">Available locations</h2>

                    <div class="form-group form-group-compound">
                        <label for="yourPostcode" class="form-label" id="yourPostcodeLabel">Enter postcode or town/city</label>
                        <input type="text" id="yourPostcode" class="form-control form-control-3-4" value="@personalDetails.postCode"
                        autocorrect="off" spellcheck="false">
                        <div id="updateLocationWrapper" style="display: none">
                            <a id="updateLocation" href="#" class="button-link no-btm-margin">Update list</a>
                        </div>
                    </div>
                    <section>
                        <div id="scheme-input-container" class="scheme-input-container" data-hasALevels="@viewModel.hasALevels" data-hasStemALevels="@viewModel.hasStemALevels">
                            <div id="scrollingList" class="scrolling-panel max-height-25">
                                <ul class="schemes-list" id="listOfLocations">
                                </ul>
                            </div>
                        </div>
                        <div class="toggle-content loading-panel" id="loadingLocations">
                            <h3 class="heading-small">Loading locations...</h3>
                        </div>
                        @for(i <- 0 until schemeLocations.size) {
                            <input type="hidden" id="locationIds_@i" name="locationIds_@i" value='@selectedLocations(i).getOrElse("")' />
                        }
                        <div class="toggle-content noresults-panel" id="noLocationsFound">
                            <h3 class="heading-small">Postcode not found</h3>
                            <p>Make sure you've entered a correct postcode</p>
                        </div>
                    </section>
                </div>
            </section>
            <section class="grid grid-1-2">
                <h2 class="heading-medium">Your location preferences</h2>
                <section class="panel-indent">
                    <p>Check that you're happy with the order</p>
                </section>
                <ol id="selectedPrefList" class="list-text">
                    <li></li>
                </ol>
            </section>
        </div>
        <div class="form-group">
            <button type="submit" class="button" id="locationsSaveBtn">Save and continue</button>
        </div>
    }
}
