@(form: Form[_], fieldNamespace: String, args: (Symbol,Any)*)(implicit messages: Messages)

<div id="address.line1_field">
@helper.inputText(form(s"$fieldNamespace.line1"),
    '_label -> "Address",
    'class -> "form-control",
    '_class -> "form-group-compound",
    '_showConstraints -> false)(helpers.CSRFieldConstructor.myFields, messages)
@helper.inputText(form(s"$fieldNamespace.line2"),
    '_label -> "",
    'class -> "form-control",
    '_class -> "form-group-compound",
    '_showConstraints -> false,
    'optional -> "")(helpers.CSRFieldConstructor.myFields, messages)
@helper.inputText(form(s"$fieldNamespace.line3"),
    '_label -> "",
    'class -> "form-control",
    '_class -> "form-group-compound",
    '_showConstraints -> false,
    'optional -> "")(helpers.CSRFieldConstructor.myFields, messages)
@helper.inputText(form(s"$fieldNamespace.line4"),
    '_label -> "",
    'class -> "form-control",
    '_showConstraints -> false,
    'optional -> "")(helpers.CSRFieldConstructor.myFields, messages)
</div>
