@import connectors.exchange.LocationSchemes
@import connectors.exchange.SchemeInfo

@(schemeLocations: List[LocationSchemes], schemes: List[SchemeInfo])(edit: Html)

@renderBoolean(value: Boolean) = {
    @(value match {
        case true => "Yes"
        case false => "No"
    })
}

<section class="section-border" id="choiceInfo">
    <h2 class="heading-large">
        <span class="sectionTitle">Schemes and locations</span>
        @edit
    </h2>

    <section>
        <h2>Schemes</h2>
        @for(schemeData <- schemes.zipWithIndex) {
            <p id="scheme@schemeData._2" schemeId="@schemeData._1.id">@schemeData._1.name</p>
        }
    </section>

    <section>
        <h2>Scheme Locations</h2>
        @for(schemeLocationData <- schemeLocations.zipWithIndex) {
            <p id="location@schemeLocationData._2">@schemeLocationData._1.locationName</p>
        }
    </section>
</section>