@(schemeLocations: List[String], schemes: List[String])(edit: Html)

@renderBoolean(value: Boolean) = {
    @(value match {
        case true => "Yes"
        case false => "No"
    })
}

<section class="section-border" id="choiceInfo">
    <h2 class="heading-large">
        <span class="sectionTitle">Locations and scheme</span>
        @edit
    </h2>

    <section>
        <h2>Scheme Locations</h2>
    @for(schemeLocation <- schemeLocations) {
        <p>@schemeLocation</p>
    }
    </section>

    <section>
        <h2>Schemes</h2>
    @for(scheme <- schemes) {
        <p>@scheme</p>
    }
    </section>
</section>