@(scores: connectors.exchange.CandidateScoresAndFeedback)(implicit request: Request[_], flash: Flash, user: Option[CachedData], feedbackUrl: String)

@main_template(title = "Your scores and feedback | Apply for a Civil Service apprenticeship") {

<div class="content-container">
    <main role="main" id="main">
        <div class="grid-wrapper">
            <div class="hgroup grid grid-2-3">
                <h1 class="heading-xlarge">Your scores and feedback</h1>
                <p class="subtitle">Assessment centre</p>
            </div>
            <div class="grid grid-1-3">
                <p class="page-link"><a href="@controllers.routes.HomeController.present">Return to homepage</a></p>
            </div>
        </div>
        <h2 class="heading-large">Scores</h2>
        <div class="panel-indent text">
            <p>Your performance is measured against&nbsp;six competencies.&nbsp; Each competency
                is tested at least twice during the centre. We'll calculate an average
                score to measure your overall performance in each competency, ranging
                from 1.00 to 4.00.</p>
        </div>
        <div class="grid-wrapper">
            <div class="grid grid-1-2">
                <div class="inner-block-padr">
                    <h2 class="heading-small">How you scored</h2>
                    <table>
                        <tbody><tr>
                            <td>Leading &amp; communicating</td>
                            <td>2.04</td>
                        </tr>
                        <tr>
                            <td>Collaborating &amp; partnering</td>
                            <td>2.03</td>
                        </tr>
                        <tr>
                            <td>Delivering at pace</td>
                            <td>3.44</td>
                        </tr>
                        <tr>
                            <td>Changing &amp; improving</td>
                            <td>3.18</td>
                        </tr>
                        <tr>
                            <td>Making effective decisions</td>
                            <td>2.55</td>
                        </tr>
                        <tr>
                            <td>Building capability for all</td>
                            <td>3.91</td>
                        </tr>
                        <tr>
                            <td>Motivational fit</td>
                            <td>3.03</td>
                        </tr>
                        </tbody></table>
                </div>
            </div>
            <div class="grid grid-1-2">
                <h2 class="heading-small">What the scores mean</h2>
                <table class="scores-explanation-table">
                    <tbody><tr class="strong-candidate">
                        <td><span class="bold-small">4</span></td>
                        <td>Minor areas for development but&nbsp;provides strong indicators that&nbsp;the
                            candidate would be&nbsp;suitable for the Fast Track.</td>
                    </tr>
                    <tr class="good-candidate">
                        <td><span class="bold-small">3</span></td>
                        <td>Some areas for development but also provides&nbsp;indicators that&nbsp;the
                            candidate would be&nbsp;suitable for the Fast Track.</td>
                    </tr>
                    <tr class="ok-candidate">
                        <td><span class="bold-small">2</span></td>
                        <td>A number of areas for development needed to make&nbsp;the candidate&nbsp;suitable
                            for the Fast Track.</td>
                    </tr>
                    <tr class="unsuitable-candidate">
                        <td><span class="bold-small">1</span></td>
                        <td>Too many&nbsp;areas for development&nbsp;for the candidate to be suitable
                            for the Fast Track.</td>
                    </tr>
                    </tbody></table>
            </div>
        </div>
        <section class="section-border">
            <h2 class="heading-large">Feedback</h2>
            <h3 class="heading-medium">Interview</h3>
            <article class="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
                    quidem fugiat quasi sapiente voluptatibus alias blanditiis, quas
                    animi vero laborum.</p>
                <p>Veniam eligendi quae animi. Hic voluptates, rem fugit? Iure eveniet
                    explicabo facilis veritatis nesciunt, praesentium nihil officia odit
                    deserunt id!</p>
                <p>Et cumque ex, distinctio molestiae voluptatibus voluptates. Sit debitis,
                    veniam provident ex ipsam harum, aperiam, quibusdam reiciendis enim
                    voluptatem sint.</p>
                <p>Tempore molestias hic nihil sapiente animi perspiciatis aspernatur
                    voluptates nobis saepe. Odio, delectus nostrum deleniti rerum praesentium
                    minus sed suscipit.</p>
                <p>Vitae, modi, cumque repellendus ex commodi voluptatum placeat reprehenderit
                    saepe totam laudantium, hic cum libero voluptate aspernatur dolores
                    aliquid iusto.</p>
                <p>Ratione eius assumenda, officia id natus dolorum animi voluptas aliquid
                    quis doloribus est suscipit voluptatum, quibusdam earum veniam alias
                    itaque!</p>
                <p>Asperiores aperiam eveniet quod deserunt nihil, at reiciendis, voluptate
                    minima totam ut, ipsam quidem inventore reprehenderit nulla illo,
                    illum voluptatem.</p>
            </article>
        </section>
        <section class="section-border">
            <h3 class="heading-large">Group exercise</h3>
            <article class="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
                    excepturi hic sunt corrupti consectetur, repellendus odio.</p>
                <p>Molestiae maiores dignissimos commodi sapiente rem, libero dicta inventore!
                    Dolores, at. Incidunt iure architecto illum quidem.</p>
                <p>Non cumque, voluptate quisquam vitae eveniet magni, sapiente quos labore
                    libero numquam, doloribus molestiae voluptatem optio.</p>
                <p>Id rerum voluptates commodi magnam, necessitatibus, autem, dolorem
                    eaque quam laborum molestias dolore nemo delectus, tenetur?</p>
                <p>Libero magni non amet ad, dignissimos, sequi consequuntur quisquam
                    praesentium esse sapiente iste ab pariatur, saepe.</p>
            </article>
        </section>
        <section class="section-border">
            <h3 class="heading-large">Written exercise</h3>
            <article class="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate
                    ipsa culpa fuga.</p>
                <p>Consequuntur placeat quis asperiores impedit voluptate error quod veritatis
                    laudantium harum. Doloremque.</p>
                <p>Ut reprehenderit magnam sequi similique recusandae asperiores, eius
                    dolorem delectus architecto nulla!</p>
                <p>Quidem laboriosam, deleniti. Facere minus pariatur explicabo, doloribus
                    voluptate quod perferendis magnam?</p>
                <p>Pariatur dicta provident quos quaerat expedita illum mollitia esse
                    odit repellat non!</p>
                <p>Iure aspernatur doloribus quo! Eos eaque cum inventore, sequi nemo.
                    Accusantium, quia?</p>
                <p>Quas debitis rerum recusandae perferendis enim optio sit atque ducimus
                    ad consectetur.</p>
                <p>Praesentium ducimus mollitia esse iure distinctio ipsum ipsa quisquam
                    dolorum aliquid, fugit.</p>
                <p>Enim nam incidunt nulla, dolores distinctio libero laboriosam eum error
                    nostrum accusamus.</p>
            </article>
        </section>
        <p><a href="profile-home-tests.html?Status=assessment-successful">Return to homepage</a></p>
    </main>
</div>
}
